<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>JinGo VPN</string>
	<key>CFBundleExecutable</key>
	<string>PacketTunnelProvider</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PacketTunnelProvider</string>
	<key>CFBundlePackageType</key>
	<string>SYSX</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleVersion</key>
	<string>35</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NetworkExtension</key>
	<dict>
		<key>NEMachServiceName</key>
		<string>group.$(APP_BUNDLE_ID)</string>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.packet-tunnel</key>
			<string>JinGoPacketTunnelProvider</string>
		</dict>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.networkextension.packet-tunnel</string>
		<key>NSExtensionPrincipalClass</key>
		<string>JinGoPacketTunnelProvider</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 JinGo Team. All rights reserved.</string>
	<key>NSSystemExtensionUsageDescription</key>
	<string>This system extension provides VPN tunnel capabilities.</string>
</dict>
</plist>
