// Application icon
IDI_ICON1 ICON "../../resources/icons/app.ico"

1 VERSIONINFO
FILEVERSION 1,3,0,0
PRODUCTVERSION 1,3,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "JinGo"
      VALUE "FileDescription", "JinGoVPN Client"
      VALUE "FileVersion", "1.3.0"
      VALUE "InternalName", "JinGo"
      VALUE "LegalCopyright", "Copyright (C) 2025"
      VALUE "OriginalFilename", "JinGo.exe"
      VALUE "ProductName", "JinGoVPN"
      VALUE "ProductVersion", "1.3.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
